<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inria Serif' rel='stylesheet'>  
    <link href='https://fonts.googleapis.com/css?family=Libre Barcode 128' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Handjet' rel='stylesheet'>
    <link rel="stylesheet" href="/css/review-style.css">
</head>
<header>
    <div class = "nav">
        <a href="/">home</a>
        <a href="/reviews">let's talk ramen</a>
        <a href="/form">submit a review</a>
        <a href="/about-us">about us</a>
    </div>
</header>
<body>
    <div class = "overall">
        <div class = "ramen-review-text">
            <h1 id="red-text"><em><%= review.ramenName %></em></h1>
            <h4><em><%= review.reviewDate %></em></h4>
            <p><%= review.ramenText1 %></p>
        
            <div class = "ave-rating">
                <h1><%= (review.rating1 + review.rating2) / 2 %></h1>
                <p><em>Average Rating</em></p>
            </div>
        
            <div class = "review-content">
                <div>
                    <h2 id = "red-text"><em>anusha's review</em></h2>
                    <p><%= review.reviewText1 %></p>
                </div>
                <div>
                    <h1><%= review.rating1 %></h1>
                    <h4>anusha's rating</h4>
                </div>
            </div>
        
            <div class = "review-content">
                <div>
                    <h2 id = "red-text"><em>thillai's review</em></h2>
                    <p><%= review.reviewText2 %></p>
                </div>
                <div>
                    <h1><%= review.rating2 %></h1>
                    <h4>thillai's rating</h4>
                </div>
            </div>
        </div>
        <div class = "ramen-pics">
            <p id = "red-text">the ramen photoshoot</p>
            <p id = "red-text">_/_ photos</p>
        </div>
    </div>
</body>
</html>